.details {
  position: sticky;
  top: 3%;
}
.details h3 {
  text-align: center;
}

.cart-btn {
  width: 90%;
  margin: 10px 10px;
}
.clear {
  background-color: red;
}
.checkout-btn {
  background-color: orange;
}
.btn-group {
  text-align: center;
}
